* {
    transition: .3s;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #1E1E1E;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */

.header {
    margin-top: 10px;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    color: white;
    background: #343434;
    padding: 12px 8px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.header-option {
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.selected {
    background-color: rgba(53, 132, 228, 0.2);
    border: 2px solid #3584E4;
}

/* CLOCK */

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background-color: #343434;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    position: absolute;
}

.clock div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
    border-radius: 12px;
    letter-spacing: 3px;
}

.clock span {
    font-weight: bolder;
    font-size: 60px;
}

.clock span.time {
    font-size: 10px;
}

#my {
    position: relative;
    top: 45vh;
    font-size: 1.3em;
}

#my:hover {
    font-size: 1.45em;
}

abbr{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

/* STOPWATCH */

.stopwatch {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background: #343434;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.stopwatch-timer {
    font-size: 100px;
    color: white;
    margin-bottom: 40px;
    border-radius: 8px;
}

.stopwatch-btn-start {
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    margin-right: 10px;
    background-color: rgba(53, 132, 228, 0.2);
    border: 2px solid #3584E4;
    color: white;
}

.stopwatch-btn-start:hover {
    background-color: rgba(53, 132, 228, 0.4);
}

.stopwatch-btn-reset {
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgba(166, 24, 36, 0.2);
    border: 2px solid #A61823;
    color: white;
}

.stopwatch-btn-reset:hover {
    background-color: rgba(166, 24, 36, 0.4);
}

@media screen and (max-width: 620px) {
    .clock {
        flex-direction: column;
        height: 560px;
        width: 170px;
    }

    .stopwatch-timer {
        font-size: 60px;
    }
}